<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <section class="nav">
        <h2 class="places">Places</h2>
        <p class="city"><%= cityName %></p>
        <form action="/" method="POST">
          <input type="text" name="cityName" id="city-name" />
          <button type="submit" id="form-btn">
            <span class="city-icon">&#10140;</span>
          </button>
        </form>
      </section>
      <section class="main-wrapper">
        <h1 class="homepage">Enter your City Name</h1>
      </section>
    </main>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
